<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Cars</title>
</head>
<body>

	<h3>Elérhető autók</h3>
	
	 <table border="1">
        <thead>
            <tr>
                <th>Type</th>
                <th>Plate Number</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="car : ${carlistdto.getCarList()}">
                <td>
                	<a th:href="${'/cars/startreserve?carid=' + car.getId()+'&start=' + carlistdto.getStartDate()+'&end=' + carlistdto.getEndDate()}" th:text="${car.getType()}"></a>
                </td>
                <td th:text="${car.getPlateNumber()}">
                	
                
                </td>
                <td th:text="${car.getPrice()}"></td>
            </tr>
        </tbody>
    </table>

</body>
</html>